@{
    ViewData["Title"] = "Home Page";
}

<!--
    References:
    Code corrections done by Claude AI
    https://www.w3schools.com/html/html_css.asp
    https://youtu.be/wRNinF7YQqQ?si=BdzfIpOQ-ZQ8n66j
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div
    https://www.w3schools.com/css/css3_buttons.asp
    https://developer.mozilla.org/en-US/docs/Web/CSS/background-color
    https://www.w3schools.com/html/html_tables.asp 
    https://www.w3schools.com/tags/tag_button.asp
    https://www.w3schools.com/w3css/w3css_progressbar.asp
    https://learn.microsoft.com/en-us/sql/database-engine/configure-windows/sql-server-express-localdb?view=sql-server-ver16
    https://learn.microsoft.com/en-us/aspnet/mvc/overview/older-versions-1/models-data/creating-model-classes-with-the-entity-framework-cs
    https://learn.microsoft.com/en-us/ef/core/
    https://learn.microsoft.com/en-us/ef/core/managing-schemas/migrations/?tabs=dotnet-core-cli
    https://learn.microsoft.com/en-us/dotnet/api/system.io.memorystream?view=net-8.0
    https://learn.microsoft.com/en-us/answers/questions/497278/how-to-use-(httppost)-(httpget)-in-asp-net-core-we
    https://www.w3schools.com/howto/howto_js_alert.asp
    https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.validateantiforgerytokenattribute?view=aspnetcore-8.0
    -->
<style>
    body {
        background: linear-gradient(skyblue, red);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        color: white;
        padding: 10px 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .button-container {
        margin-top: 30px;
    }

    .login-button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        font-size: 18px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }

        .login-button:hover {
            background-color: rgba(0, 0, 0, 0.9);
        }
</style>

<div class="container" style="display: flex; justify-content: center; align-items: flex-start; height: 100vh; padding-top: 150px;">
    <div class="content" style="text-align: center;">
        <h1>Welcome <br>to the <br>Contract Monthly Claim System</h1>

        <div class="button-container">
            <a href="/Lecturer/Login" class="login-button">Lecturer Login</a>
            <a href="/ProgrammeCoordinator/Login" class="login-button">Programme Coordinator Login</a>
            <a href="/AcademicManager/Login" class="login-button">Academic Manager Login</a>
        </div>
    </div>
</div>



