@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: linear-gradient(skyblue, red);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        color: white;
        padding: 10px 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
<div class="container" style="display: flex; justify-content: center; align-items: flex-start; height: 100vh; padding-top: 150px;">
    <div class="content" style="text-align: center;">
        <h1>Welcome <br>to the <br>Contract Monthly Claim System</h1>
    </div>
</div>


